/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@font-face {
  font-family: 'proxima-nova-regular';
  src : url('../font/proxima-nova-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima-nova-bold';
  src : url('../font/proxima-nova-bold.ttf') format('truetype');
}

body, button {
  margin : 0px;
  padding  : 0px;
  font-family: 'proxima-nova-regular';
  text-rendering: geometricPrecision;
  -webkit-backface-visibility: hidden;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

section {
  min-height : 560px;
}

article {
  position: absolute;
  max-width: 1100px;
  width: 95%;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}

/* SLIDE ONE */

#slide-one {
  background-image: url("../img/section-top.jpg");
  background-size: cover;
  color: #FFF;
}

#slide-one img.top-logo  {
  margin:30px auto 20px;
  width : 150px;
  display : block;

}

#slide-one h1 {
  font-size: 32px;
  margin: 0px auto;
  font-weight: 200;
  text-align : center;
}

#slide-one ul {
  margin-top: 40px;
}

#slide-one li {
  display: inline-block;
  width: 30%;
  border-top: 1px solid #888;
  vertical-align: top;
  text-align: left;
  color: #ddd;
  padding-top: 20px;
  line-height: 1.5em;
  font-size:18px;
}

#slide-one li:first-child {
  margin-right: 4%;
}

#slide-one li:last-child {
  margin-left : 4%;
}

#slide-one li span {
  font-family: 'proxima-nova-bold';
  display:block;
  font-size: 18px;
  color: #FFF;
  margin-bottom: 12px;
}

#slide-one div#go-down-button {
  width : 70px;
  height: 75px;
  position: absolute;
  left : 0px;
  right : 0px;
  margin : 0 auto;
  cursor: pointer;
}

#slide-one #go-down-button img {
  width : 70px;
  height : 75px;
  transition : all 0.5s;
}

#slide-one div#go-down-button:hover img {
  transform: rotateZ(180deg);
}

#slide-one div#go-down-symbol {
  background-image : url('../img/go-down-symbol.png');
  background-size : 100%;
  position: absolute;
  left : 0px;
  right : 0px;
  margin : 30px auto;
  width : 22px;
  height : 12px;
  z-index: 99;
}

/* SLIDE TWO */

#slide-two h1 {
  font-size: 30px;
  margin: 50px 0px;
  color: #555;
}

#slide-two li {
  padding: 20px;
  border-bottom: 1px solid #eee;
  position: relative;
}

#slide-two .first-column , #slide-two .second-column, #slide-two .third-column {
  display: inline-block;
}

/* FIRST COLUMN */

#slide-two li:first-child span.first-column {
  font-size:28px;
  font-family : 'proxima-nova-bold';
  color: #666;
  font-weight: normal;
}


#slide-two span.first-column {
  width :48%;
}

#slide-two span.first-column a {
  color:#257AB9;
  font-size:22px;
  font-family: 'proxima-nova-bold';
  transition: all 0.3s;
}

#slide-two span.first-column a:hover {
  opacity: 0.6;
}

/* SECOND COLUMN */

#slide-two li:first-child span.second-column {
  color:#ddd;
}

#slide-two span.second-column {
  width : 30%;
  color:#888;
}

/* THIRD COLUMN */

#slide-two span.third-column {
  width : 20%;
  text-align: right;
}

#slide-two span.third-column button {
  width : 170px;
  height : 40px;
  background-color:#EEEEEE;
  border : 0px ;
  color: #0078BD;
  font-size:16px;
  border-radius: 4px;
  transition: all 0.3s;
}

#slide-two span.third-column button:hover {
  opacity: 0.7;
}

#slide-two .responsive-button {
  display : none;
}

/******************************
*** RESPONSIVE PART ***********
******************************/

@media (max-width: 900px) { 
  
  article {
    max-width: 900px;
    width: 80%;
  }

  #slide-one {
    min-height : 760px;
  }

  #slide-one li:first-child {
    margin-right: 0%;
  }

  #slide-one li:last-child {
    margin-left : 0%;
  }


  #slide-one li {
    display: inline-block;
    width: 100%;
    border-top: 0px solid #888;
    vertical-align: top;
    text-align: left;
    color: #ddd;
    padding-top: 20px;
    line-height: 1.5em;
    font-size:18px;
  }

  #slide-two span.first-column {
    width : 90%;
  }

  #slide-two li:first-child span.second-column {
    display : none;
  }

  #slide-two span.third-column button {
    display : none;
  }

  #slide-two .responsive-button {
    display: block;
    position: absolute;
    right: 10px;
    top: 30px;
    font-size: 24px;
  }

  #slide-two .responsive-button a {
    transition : all 0.3s;
  }

  #slide-two .responsive-button a:hover{
    opacity: 0.5;
  }

}